Options +FollowSymLinks
RewriteEngine On

RewriteRule   ^home$ index.php?page=home [NC]
RewriteRule   ^login$ index.php?page=login [NC]
RewriteRule   ^registration$ index.php?page=registration
RewriteRule   ^updateAddress$ index.php?page=updateAddress
RewriteRule   ^personalInfo$ index.php?page=personalInfo
RewriteRule   ^viewSchedule$ index.php?page=viewSchedule
RewriteRule   ^holds$ index.php?page=holds

AddType text/css .css
AddType text/javascript .js
