.fully {
	height: 100%;
}
.homeLinks{
  padding-top: 25px;
  padding-bottom: 20px;
}
.personalInfo.solid {
  border-style: solid;
}
.degreePadding {
  padding-top: 20px; 
  padding-bottom: 20px; 
}
.redMark {
  color: #FF0000;
}


html {
  min-height: 100%;
}

.background{
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#wrap {
   width:245%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:45%;
   margin-right: 5%;
}
#right_col {
   float:right;
   width:45%;
   margin-left: 5%;
}
